Package: udp-custom-device-{veristand_version}
Version: {nipkg_version}
Architecture: windows_x64
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  UDP Data Link Custom Device was built to extend VeriStand's communication abilities by providing the user with the ability to transmit and receive UDP packets.
XB-Eula:  
Priority: standard
Homepage: https://github.com/NIVeriStandAdd-Ons/UDP-Data-Link-Custom-Device
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: UDP Custom Device for VeriStand {veristand_version}
Depends: 
